
body{
    background: #071952;
}


.Login_head {
    font-size: 35px;
    font-weight: 700;
    color: #37B7C3;

    border-radius: 5px;
    

}

.main_form label{
    font-size: 16px;
    font-weight: 400;
    @apply font-poppins;
    color: #000;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
}

.main_form input{
    width: 400px;
    height: 50px;
    border: 2px solid ;
    border-radius: 5px;
    background-color: #088395;
    transition: all linear.6s;
}
.main_form input:focus-visible{
    outline: 5px solid #EBF4F6;
}
.main_form .error{
    font-size: 14px;
    font-weight: 600;
    color: red;

}
.main_form .loginButton{
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #088395;
    margin-top: 20px;
  
    font-size: 20px;
    font-weight: 900;
    border-radius: 20px;
    @apply font-poppins;
   

}
.loginButton:active{
    transform: scale(1.1);
}
.pass_div{position: relative;}
.eye_icon{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);

}